<%= form_with(model: [@resource, @information_recommendation],
              html:  { novalidate: 'novalidate',
                       id:         'information-recommendation-form',
                       class:      'form' }) do |f| %>
  <%= f.label :recommender_name, class: 'sr-only' %>
  <%= f.text_field :recommender_name,
                   placeholder: 'Your name (optional)',
                   class:       'form-field text-field' %>
  <%= field_error(@information_recommendation, :recommender_name) %>

  <%= f.label :recommender_email, class: 'sr-only' %>
  <%= f.email_field :recommender_email,
                    placeholder: 'Your e-mail (optional)',
                    class:       'form-field text-field' %>
  <%= field_error(@information_recommendation, :recommender_email) %>

  <div>&nbsp;</div>

  <%= f.label :information, class: 'sr-only' %>
  <%= f.text_area :information,
                  placeholder: 'Information you would like to add',
                  class:       'form-field text-area',
                  rows:        5 %>
  <%= field_error(@information_recommendation, :information) %>

  <%= render 'shared/recaptcha', obj: @information_recommendation %>

  <%= f.submit 'Submit', class: 'form-field button button-primary' %>
  <%= link_to 'Cancel', @resource, class: 'link' %>
<% end %>