<div class="container-flex-column">
  <%= render 'shared/page_title', content: 'Edit Info' %>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'form' }) do |f| %>
    <%= f.label :email, class: 'sr-only' %>
    <%= f.email_field :email, autofocus: true,
                      autocomplete:      "email",
                      placeholder:       'E-mail',
                      class:             'form-field text-field' %>
    <%= field_error(resource, :email) %>
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div class="form-info">Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <%= f.label :name, class: 'sr-only' %>
    <%= f.text_field :name,
                     placeholder: 'Name',
                     class:       'form-field text-field' %>
    <%= field_error(resource, :name) %>

    <%= f.submit "Update", class: 'form-field button button-primary', id: 'update-info-button' %>
    <p><%= link_to "Cancel", resource %></p>

    <hr>

    <h2>Edit Password</h2>

    <%= f.label :password, class: 'sr-only' %>
    <%= f.password_field :password,
                         autocomplete: "new-password",
                         placeholder:  'Password',
                         class:        'form-field text-field' %>
    <%= field_error(resource, :password) %>
    <% if @minimum_password_length %>
      <div class="form-info">
        (<%= @minimum_password_length %> characters minimum)
      </div>
    <% end %>

    <%= f.label :password_confirmation, class: 'sr-only' %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password",
                         placeholder:                          'Password (repeat)',
                         class:                                'form-field text-field' %>
    <%= field_error(resource, :password_confirmation) %>

    <%= f.label :current_password, class: 'sr-only' %>
    <%= f.password_field :current_password, autocomplete: "current-password",
                         placeholder:                     'Current password',
                         class:                           'form-field text-field' %>
    <%= field_error(resource, :current_password) %>

    <%= f.submit "Update", class: 'form-field button button-primary', id: 'update-password-button' %>
  <% end %>

  <p><%= link_to "Cancel", resource %></p>
</div>