<div class="container-flex-column">
  <%= render 'shared/page_title', content: 'Sign Up' %>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'form' }) do |f| %>
    <%= f.label :email, class: 'sr-only' %>
    <%= f.email_field :email, autofocus: true,
                      autocomplete:      "email",
                      placeholder:       'E-mail',
                      class:             'form-field text-field' %>
    <%= field_error(resource, :email) %>

    <%= f.label :name, class: 'sr-only' %>
    <%= f.text_field :name,
                     placeholder: 'Name',
                     class:       'form-field text-field' %>
    <%= field_error(resource, :name) %>

    <%= f.label :username, class: 'sr-only' %>
    <%= f.text_field :username,
                     placeholder: 'Username',
                     class:       'form-field text-field' %>
    <%= field_error(resource, :username) %>

    <%= f.label :password, class: 'sr-only' %>
    <%= f.password_field :password,
                         autocomplete: "new-password",
                         placeholder:  'Password',
                         class:        'form-field text-field' %>
    <%= field_error(resource, :password) %>
    <% if @minimum_password_length %>
      <div class="form-info">(<%= @minimum_password_length %> characters minimum)</div>
    <% end %>

    <%= f.label :password_confirmation, class: 'sr-only' %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password",
                         placeholder:                          'Password (repeat)',
                         class:                                'form-field text-field' %>
    <%= field_error(resource, :password_confirmation) %>

    <%= f.submit "Sign Up", class: 'form-field button button-primary' %>
  <% end %>

  <%= render "devise/shared/links" %>
</div>

