<div class="container-flex-column">
  <%= render 'shared/page_title', content: 'Resend Unlock Instructions' %>

  <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post, class: 'form' }) do |f| %>
    <%= f.label :email, class: 'sr-only' %>
    <%= f.email_field :email,
                      autofocus:    true,
                      autocomplete: "email",
                      placeholder:  'E-mail',
                      class:        'form-field text-field' %>
    <%= field_error(resource, :email) %>

    <%= f.submit "Resend Unlock Instructions", class: 'form-field button button-primary' %>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
