<%= form_with(model: [@category, @resource_recommendation],
                        html: { novalidate: 'novalidate', id: 'resource-recommendation-form' }) do |f| %>
  <%= f.label :recommender_name, class: 'sr-only' %>
  <%= f.text_field :recommender_name,
                   placeholder: 'Your name (optional)',
                   hide_label:  true %>
  <%= f.label :recommender_email, class: 'sr-only' %>
  <%= f.email_field :recommender_email,
                    placeholder: 'Your e-mail (optional)',
                    hide_label:  true %>
  <div class="my-1">&nbsp;</div>
  <%= f.label :name, class: 'sr-only' %>
  <%= f.text_field :name,
                   placeholder: 'Name of the person you recommend',
                   hide_label:  true %>
  <%= f.label :website, class: 'sr-only' %>
  <%= f.url_field :website,
                  placeholder: 'Website of the person you recommend',
                  hide_label:  true %>
  <%= f.label :other_information, class: 'sr-only' %>
  <%= f.text_area :other_information,
                  placeholder: 'Other information (optional)',
                  rows:        5,
                  hide_label:  true %>
  <%= render 'shared/recaptcha', obj: @resource_recommendation %>
  <%= f.submit 'Submit', class: 'btn btn-primary' %>
  <%= link_to 'Cancel', @category, class: 'btn btn-link' %>
<% end %>