<%= form_with(model: [@category, @resource_recommendation],
              html:  { novalidate: 'novalidate',
                       id:         'resource-recommendation-form',
                       class:      'form' }) do |f| %>
  <%= f.label :recommender_name, class: 'sr-only' %>
  <%= f.text_field :recommender_name,
                   placeholder: 'Your name (optional)',
                   class:       'form-field text-field' %>
  <%= field_error(@resource_recommendation, :recommender_name) %>

  <%= f.label :recommender_email, class: 'sr-only' %>
  <%= f.email_field :recommender_email,
                    placeholder: 'Your e-mail (optional)',
                    class:       'form-field text-field' %>
  <%= field_error(@resource_recommendation, :recommender_email) %>

  <div>&nbsp;</div>

  <%= f.label :name, class: 'sr-only' %>
  <%= f.text_field :name,
                   placeholder: 'Name of the person you recommend',
                   class:       'form-field text-field' %>
  <%= field_error(@resource_recommendation, :name) %>

  <%= f.label :website, class: 'sr-only' %>
  <%= f.url_field :website,
                  placeholder: 'Website of the person you recommend',
                  class:       'form-field text-field' %>
  <%= field_error(@resource_recommendation, :website) %>

  <%= f.label :other_information, class: 'sr-only' %>
  <%= f.text_area :other_information,
                  placeholder: 'Other information (optional)',
                  class:       'form-field text-area',
                  rows:        5 %>
  <%= field_error(@resource_recommendation, :other_information) %>

  <%= render 'shared/recaptcha', obj: @resource_recommendation %>

  <%= f.submit 'Submit', class: 'form-field button button-primary' %>
  <%= link_to 'Cancel', @category, class: 'link' %>
<% end %>