<div class="container-flex-column">
  <%= render 'shared/page_title', content: 'Almost There...' %>
  <%= render 'shared/page_description',
             description: 'We still need the following information from you.' %>

  <%= form_with model: @user,
                url:   users_finish_oauth_authentication_path,
                local: true,
                html:  { class: 'form' } do |f| %>

    <% if @user.email.blank? %>
      <%= f.label :email, class: 'sr-only' %>
      <%= f.email_field :email, autofocus: true,
                        autocomplete:      "email",
                        placeholder:       'E-mail',
                        class:             'form-field text-field' %>
      <%= field_error(@user, :email) %>
    <% end %>

    <%= f.label :username, class: 'sr-only' %>
    <%= f.text_field :username,
                     placeholder: 'Username',
                     class:       'form-field text-field' %>
    <%= field_error(@user, :username) %>

    <%= f.submit "Sign Up", class: 'form-field button button-primary' %>
  <% end %>
</div>

