<div class="col-xl-4 col-sm-6 justify-content-center">
  <%= link_to_or_block url.present?, url,
                       success_class: 'large-card',
                       fail_class:    'large-card is-not-link' do %>
    <div class="large-card__body">
      <% if icon.present? %>
        <%= image_tag icon, class: 'large-card__icon' %>
      <% else %>
        <%= render 'shared/no_icon', title: title %>
      <% end %>

      <h3 class="large-card__title text-truncate">
        <%= truncate_with_tooltip(title, length: LARGE_CARD_MAX_TITLE_LENGTH).html_safe %>
      </h3>
      <p class="d-none d-sm-none d-md-block">
        <%= truncate_with_tooltip(description&.html_safe,
                                  length:    LARGE_CARD_MAX_DESCRIPTION_LENGTH,
                                  separator: ' ',
                                  escape:    false) %>
      </p>
    </div>
  <% end %>
</div>