<div id="add-comment" class="comment-form">
  <h2 class="mb-3">Add a Comment</h2>
  <%= bootstrap_form_for [@resource, @comment] do |f| %>
    <%= f.text_field :name,
                     placeholder: 'Your name',
                     hide_label:  true %>
    <%= f.email_field :email,
                      placeholder: 'Your e-mail (optional)',
                      hide_label:  true,
                      help:        "Your e-mail is used to show your Gravatar and won't be publicly visible." %>
    <%= f.text_area :comment,
                    placeholder: 'Your comment',
                    rows:        5,
                    hide_label:  true,
                    maxlength:   APP_SETTINGS['max_comment_length'] %>
    <%= render 'shared/recaptcha', obj: @comment %>
    <%= f.submit 'Submit', class: 'btn btn-primary' %>
  <% end %>
</div>