<% cache comment do %>
  <div class="comment card">
    <div class="comment-details">
      <div>
        <% if comment.email.present? %>
          <%= gravatar_image_tag(comment.email,
                                 :alt      => comment.name,
                                 :gravatar => { secure: true, rating: 'pg', size: 32 })
          %>
        <% else %>
          <%= gravatar_image_tag('',
                                 :alt      => comment.name,
                                 :gravatar => { secure: true, size: 32, default: :identicon })
          %>
        <% end %>
      </div>
      <h2 class="comment-name">
        <%= comment.name %>
      </h2>
      <div class="comment-date">
        <%= comment.created_at.strftime('%b %e, %Y<br>at %I:%M %p %Z').html_safe %>
      </div>
    </div>
    <div class="comment-text">
      <%= comment.comment %>
    </div>
  </div>
<% end %>