<div class="resource-links">
  <% if @resource.website.present? %>
      <%= link_to @resource.website, class: 'resource-link link' do %>
        <i class="resource-link-icon fas fa-user-circle"></i>Website
      <% end %>
  <% end %>
  <% if @resource.twitter.present? %>
      <%= link_to @resource.twitter, class: 'resource-link link' do %>
        <i class="resource-link-icon fab fa-twitter"></i>Twitter
      <% end %>
  <% end %>
  <% if @resource.facebook.present? %>
      <%= link_to @resource.facebook, class: 'resource-link link' do %>
        <i class="resource-link-icon fab fa-facebook"></i>Facebook
      <% end %>
  <% end %>
  <% if @resource.github.present? %>
      <%= link_to @resource.github, class: 'resource-link link' do %>
        <i class="resource-link-icon fab fa-github"></i>GitHub
      <% end %>
  <% end %>
  <% if @resource.youtube.present? %>
      <%= link_to @resource.youtube, class: 'resource-link link' do %>
        <i class="resource-link-icon fab fa-youtube"></i>YouTube
      <% end %>
  <% end %>
</div>