<% cache @resource.lists do %>
  <div class="resource-lists">
    <h2>More Related to <%= @resource.title %></h2>

    <div class="tab-bar">
      <% @resource.lists.each do |list| %>
        <% cache ['tabs', list] do %>
          <a class="tab" data-tabs="tab" data-tab-id="<%= list.id %>">
            <%= list.title %>
          </a>
        <% end %>
      <% end %>
    </div>

    <div class="tab-content">
      <% @resource.lists.each do |list| %>
        <% cache ['tab-panes', list] do %>
          <div data-tabs="pane" data-tab-id="<%= list.id %>" id="list-<%= list.id %>">
            <div class="resource-list">
              <% cache list.items do %>
                <% list.items.each do |list_item| %>
                  <% cache list_item do %>
                    <%= render 'resources/resource', resource: list_item, description: false %>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
