<ul class="nav nav-pills mb-3 mt-4 justify-content-center" id="lists" role="tablist">
  <% @resource.lists.each_with_index do |list, i| %>
    <li class="nav-item">
      <a class="nav-link <%= 'active' if i == 0 %>"
         id="list-<%= list.id %>-tab"
         data-toggle="tab"
         href="#list-<%= list.id %>" role="tab">
        <%= list.title %>
      </a>
    </li>
  <% end %>
</ul>

<div class="tab-content mb-5" id="listsContent">
  <% @resource.lists.each_with_index do |list, i| %>
    <div class="tab-pane fade <%= 'show active' if i == 0 %>" id="list-<%= list.id %>">
      <div class="row">
        <%= render partial: 'resources/resource', collection: list.items %>
      </div>
    </div>
  <% end %>
</div>