<div class="col-xl-4 col-sm-6 justify-content-center">
  <%= link_to_or_block url_of_resource(resource).present?,
                       url_of_resource(resource),
                       success_class: 'resource-summary',
                       fail_class:    'resource-summary is-not-link' do %>
    <div class="resource-summary__body">
      <% if resource.icon.attached? %>
        <%= image_tag resource.icon, class: 'resource-summary__icon' %>
      <% else %>
        <%= render 'resources/no_icon', resource: resource %>
      <% end %>

      <h3 class="resource-summary__title text-truncate">
        <%= truncate_with_tooltip(resource.title, length: RESOURCE_SUMMARY_MAX_TITLE_LENGTH) %>
      </h3>
      <p class="d-none d-sm-none d-md-block">
        <%= truncate_with_tooltip(resource.description,
                                  length:    RESOURCE_SUMMARY_MAX_DESCRIPTION_LENGTH,
                                  separator: ' ') %>
      </p>
    </div>
  <% end %>
</div>