<div class="resource">
  <%= render 'icon' %>

  <%= render 'categories' %>

  <%= render 'shared/page_title', title: @resource.title %>

  <%= render 'created_by' %>

  <%= render 'links' %>

  <%= render 'shared/page_description', description: @resource.description %>

  <%= render 'footnote' %>

  <%= render 'lists' %>

  <%= render 'shared/recommendation_link',
             title: 'Add Information',
             path:  new_resource_information_recommendation_path(@resource) %>

  <hr>

  <%= render 'comments' %>
</div>