<div class="text-center">
  <%= image_tag @resource.icon, class: 'resource-icon' if @resource.icon.attached? %>
</div>

<%= render 'shared/page_title', title: @resource.title %>

<%= render 'created_by' %>

<%= render 'links' %>

<%= render 'shared/page_description', description: @resource.description %>

<%= render 'lists' %>

<%= render 'shared/recommendation_link',
           title: 'Add Information',
           path:  new_resource_information_recommendation_path(@resource) %>

<%= render 'footnote' %>