<% title @resource.title %>
<% description @resource.description %>
<% set_meta_tags og: { type:        'website',
                       title:       :full_title,
                       description: :description,
                       image:       resource_image(@resource),
                       url:         request.original_url } %>

<% cache @resource do %>
  <div id="resource">
    <div class="container-flex-column">
      <%= render 'categories' %>
      <%= render 'icon' %>
      <%= render 'shared/page_title', content: @resource.title %>
      <%= render 'shared/page_description', description: @resource.description %>

      <%= render 'actions' %>

      <%= render 'resource_associations' %>

      <%= render 'shared/newsletter_card' %>

      <hr>

      <%= render 'comments' %>
    </div>
  </div>
<% end %>