<div class="resource">
  <%= render 'resources/icon' %>

  <%= render 'resources/categories' %>

  <%= render 'shared/page_title', title: @resource.title %>

  <%= render 'resources/created_by' %>

  <%= render 'resources/links' %>

  <%= render 'shared/page_description', description: @resource.description %>

  <%= render 'resources/footnote' %>

  <%= render 'resources/lists' %>

  <%= render 'shared/recommendation_link',
             title: 'Add Information',
             path:  new_resource_information_recommendation_path(@resource) %>

  <hr>

  <%= render 'resources/comments' %>
</div>