<% cache @resource do %>
  <% description @resource.description %>
  <% set_meta_tags og: { title:       :full_title,
                         description: :description,
                         image:       resource_image(@resource),
                         url:         request.original_url } %>

  <div id="resource">
    <div class="container-flex-column">
      <%= render 'categories' %>
      <%= render 'icon' %>
      <%= render 'shared/page_title', content: @resource.title %>
      <%= render 'shared/page_description', description: @resource.description %>
      <%= render 'shared/share_buttons' %>

      <%= render 'actions' %>

      <%= render 'lists' %>

      <%= render 'shared/newsletter_card' %>

      <hr>

      <%= render 'comments' %>
    </div>
  </div>
<% end %>