<% cache @resource do %>
  <% provide(:meta_title, "Indie Sumo: #{@resource.title}") %>
  <% provide(:meta_description, @resource.description) %>
  <% provide(:meta_image_url, url_for(@resource.icon)) if @resource.icon.attached? %>

  <div class="resource">
    <%= render 'categories' %>
    <%= render 'icon' %>
    <%= render 'shared/page_title', title: @resource.title %>
    <%= render 'shared/page_description', description: @resource.description %>
    <%= render 'shared/share_buttons' %>
    <%= render 'actions' %>

    <%= render 'lists' %>

    <%= render 'shared/newsletter_card' %>

    <hr>

    <%= render 'comments' %>
  </div>
<% end %>