<%= render 'shared/page_title', title: "Search" %>

<div class="row">
  <div class="offset-lg-3 col-lg-6 px-5 text-center mt-3 mb-4">
    <%= render 'form' %>
  </div>
</div>

<%= render 'shared/page_description',
           description: result_count_message(@search_results.total_count, params[:query]) %>

<div id="search-results" class="row">
  <% @search_results.each do |result| %>
    <%= render 'resources/resource', resource: result %>
  <% end %>
</div>

<div class="mt-4">
  <%= paginate @search_results, theme: 'bootstrap4' %>
</div>
