<%= render 'shared/page_title', title: "Search" %>

<div class="search-form">
    <%= render 'form' %>
</div>

<%= render 'shared/page_description',
           description: result_count_message(@search_results.total_count, params[:query]) %>

<div id="search-results" class="row">
  <% @search_results.each do |result| %>
    <%= render 'resources/resource', resource: result %>
  <% end %>
</div>

<div class="mt-4">
  <%= paginate @search_results %>
</div>
