<ul class="item-links">
  <% if @item.website.present? %>
    <li class="item-links__link">
      <%= link_to @item.website do %>
        <i class="item-links__icon fas fa-user-circle"></i>Website
      <% end %>
    </li>
  <% end %>
  <% if @item.twitter.present? %>
    <li class="item-links__link">
      <%= link_to @item.twitter do %>
        <i class="item-links__icon fab fa-twitter"></i>Twitter
      <% end %>
    </li>
  <% end %>
  <% if @item.facebook.present? %>
    <li class="item-links__link">
      <%= link_to @item.facebook do %>
        <i class="item-links__icon fab fa-facebook"></i>Facebook
      <% end %>
    </li>
  <% end %>
  <% if @item.github.present? %>
    <li class="item-links__link">
      <%= link_to @item.github do %>
        <i class="item-links__icon fab fa-github"></i>GitHub
      <% end %>
    </li>
  <% end %>
  <% if @item.youtube.present? %>
    <li class="item-links__link">
      <%= link_to @item.youtube do %>
        <i class="item-links__icon fab fa-youtube"></i>YouTube
      <% end %>
    </li>
  <% end %>
</ul>