<% cache [@category, page: params[:page]] do %>
  <div class="container-flex-column">
    <% provide(:meta_title, "Indie Sumo: #{@category.title}") %>
    <% provide(:meta_description, @category.description) %>

    <%= render 'shared/page_title', title: @category.title %>
    <%= render 'shared/page_description', description: @category.description %>

    <%= render 'shared/share_buttons', twitter_share_text: "Indie Sumo: #{@category.title}" %>

    <%= link_to "Recommend a #{@category.title.singularize}",
                new_category_resource_recommendation_path(category_slug: @category.slug),
                class: 'recommend-resource-button button button-outline button-primary' %>

    <% cache @category_resources do %>
      <%= render 'resources/resources', resources: @category_resources %>
    <% end %>
  </div>
<% end %>