<%= render 'shared/page_title', title: @category.title %>

<%= render 'shared/page_description', description: @category.description %>

<div class="row my-5">
  <% @category.resources.each do |resource| %>
    <div class="col-xl-4 col-md-6 col-sm-12 justify-content-center">
      <%= link_to resource, id: resource.id, class: 'resource-summary' do %>
        <div class="resource-summary__body">
          <%= image_tag 'test-photo.png', alt: "#{resource.title} Icon", class: 'resource-summary__icon' %>

          <h3 class="resource-summary__title"><%= truncate(resource.title, length: 20) %></h3>
          <%= truncate(resource.description, length: 60, separator: ' ') %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>