<% title @category.title %>
<% description @category.description %>
<% set_meta_tags og: { type:        'website',
                       title:       :full_title,
                       description: :description,
                       image:       APP_SETTINGS['social_share_image'],
                       url:         request.original_url } %>

<% cache [@category, page: params[:page]] do %>
  <div class="container-flex-column">
    <%= render 'shared/page_title', content: @category.title %>
    <%= render 'shared/page_description', description: @category.description %>

    <%= render 'shared/share_buttons', twitter_share_text: "Indie Sumo: #{@category.title}" %>

    <%= link_to "Recommend a #{@category.title.singularize}",
                new_category_resource_recommendation_path(category_slug: @category.slug),
                class: 'recommend-resource-button button button-outline button-primary' %>

    <% cache @category_resources do %>
      <%= render 'resources/resources', resources: @category_resources %>
    <% end %>
  </div>
<% end %>