<% cache [@category, page: params[:page]] do %>
  <div class="category">
    <% provide(:meta_title, "Indie Sumo: #{@category.title}") %>
    <% provide(:meta_description, @category.description) %>

    <%= render 'shared/page_title', title: @category.title %>
    <%= render 'shared/page_description', description: @category.description %>

    <%= render 'shared/recommendation_button',
               title: "Recommend a #{@category.title.singularize}",
               path:  new_category_resource_recommendation_path(category_slug: @category.slug) %>

    <%= render 'shared/share_buttons', twitter_share_text: "Indie Sumo: #{@category.title}" %>

    <% cache @category_resources do %>
      <div class="category-resources" id="resources">
        <% @category_resources.each do |resource| %>
          <%= render 'resources/resource', resource: resource %>
        <% end %>

        <%= render 'shared/newsletter_card' %>
      </div>

      <%= paginate @category_resources %>
    <% end %>
  </div>
<% end %>