<div class="footer">
  <div class="container">
    <div class="row">
      <div class="offset-lg-2 col-lg-4 col-md-6 col-sm-12">
        <h1 class="footer__title is-brand">IndieSumo</h1>
        <p class="footer__by">by <%= link_to 'Evrim Persembe', APP_SETTINGS['owner_url'], class: 'footer__link' %></p>
        <div class="footer__follow-us">
          <h1 class="footer__title">Follow Us</h1>
          <ul class="list-unstyled">
            <li class="list-item">
              <a class="footer__link" href="#">Newsletter</a>
            </li>
            <li class="list-item">
              <%= link_to 'Facebook', APP_SETTINGS['facebook_page_url'], class: 'footer__link' %>
            </li>
            <li class="list-item">
              <%= link_to 'Twitter', APP_SETTINGS['twitter_profile_url'], class: 'footer__link' %>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2 col-md-3 d-none d-sm-none d-md-block">
        <h1 class="footer__title">Categories</h1>
        <ul class="list-unstyled">
          <% categories_array.to((category_count / 2).ceil).each do |category| %>
            <li class="list-item">
              <%= link_to category.title, category, class: 'footer__link' %>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="col-lg-2 col-md-3 d-none d-sm-none d-md-block">
        <h1 class="footer__title">&nbsp;</h1>
        <ul class="list-unstyled">
          <% categories_array.from((category_count / 2).ceil + 1).each do |category| %>
            <li class="list-item">
              <%= link_to category.title, category, class: 'footer__link' %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>