<div class="footer">
  <div class="footer-container container">
    <div class="footer-info">
      <h1 class="footer-logo">IndieSumo</h1>
      <p class="footer-created-by">by <%= link_to 'Evrim Persembe', APP_SETTINGS['owner_url'], class: 'link link-light' %></p>

      <div class="footer-follow-us">
        <h1 class="footer-title">Follow Us</h1>
        <%= link_to 'Newsletter', newsletter_path, class: 'link link-light' %>
        <%= link_to 'Facebook', APP_SETTINGS['facebook_page_url'], class: 'link link-light' %>
        <%= link_to 'Twitter', APP_SETTINGS['twitter_profile_url'], class: 'link link-light' %>
      </div>

      <%= link_to 'Privacy Policy', privacy_policy_path, class: 'link link-light' %>
      <p class="footer-legal">
        Icons from <%= link_to 'Icons8', 'https://icons8.com', class: 'link link-light' %>.
      </p>
    </div>

    <div class="footer-categories">
      <h1 class="footer-title">Categories</h1>
      <% categories_array.each do |category| %>
        <%= link_to category.title, category, class: 'link link-light' %>
      <% end %>
    </div>
  </div>
</div>