<div>
  <%= link_to 'IndieSumo', root_path, class: 'logo link' %>

  <ul class="main-menu">
    <li class="main-menu__item">
      <div class="dropdown-menu">
        <a class="link light dropdown-menu__toggle" href="#" data-dropdown="toggle">
          Categories
        </a>
        <div class="dropdown-menu__content" data-dropdown="content">
          <div class="dropdown-menu__items">
            <% categories_array.each do |category| %>
              <%= link_to_unless_current category.title, category, class: 'link dark dropdown-menu__item' do %>
                <%= link_to category.title, category, class: 'link dark dropdown-menu__item' %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </li>
    <li class="main-menu__item">
      <%= link_to 'Newsletter', newsletter_path, class: 'link light' %>
    </li>
    <li class="main-menu__item">
      <%= link_to APP_SETTINGS['facebook_page_url'], class: 'link light' do %>
        <i class="fab fa-facebook"></i>
      <% end %>
    </li>
    <li class="main-menu__item">
      <%= link_to APP_SETTINGS['twitter_profile_url'], class: 'link light' do %>
        <i class="fab fa-twitter"></i>
      <% end %>
    </li>
  </ul>

  <%= form_with url:                 search_path,
                method:              :get,
                html:                { class: 'main-nav__search' },
                local:               true,
                skip_enforcing_utf8: true do |f| %>
    <%= f.text_field :query, placeholder: 'Search', value: params[:query] %>
    <%= f.submit 'Search' %>
  <% end %>
</div>