<!DOCTYPE html>
<html>
<head>
  <%= display_meta_tags site:        APP_SETTINGS['site_name'],
                        description: APP_SETTINGS['site_description'],
                        image_src:   APP_SETTINGS['social_share_image'],
                        og:          { title:       :full_title,
                                       description: :description,
                                       image:       :image_src,
                                       url:         request.original_url } %>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Montserrat:400" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/solid.css" integrity="sha384-TbilV5Lbhlwdyc4RuIV/JhD8NR+BfMrvz4BL5QFa2we1hQu6wvREr3v6XSRfCTRp" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/brands.css" integrity="sha384-7xAnn7Zm3QC1jFjVc1A6v/toepoG3JXboQYzbM0jrPzou9OFXm/fY6Z/XiIebl/k" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/fontawesome.css" integrity="sha384-ozJwkrqb90Oa3ZNb+yKFW2lToAWYdTiF1vt8JiH5ptTGHTGcN7qdoR1F95e0kYyG" crossorigin="anonymous">
</head>

<body>
<%#= render 'layouts/facebook_share_setup' %>
<%#= render 'layouts/twitter_share_setup' %>

<div class="main-container">
  <%= render 'layouts/header' %>
  <%= render 'layouts/flash' %>

  <div class="container content">
    <%= yield %>
  </div>

  <%= render 'layouts/footer' %>
</div>
</body>
</html>
